/* Basic Setup */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	font-family: 'Lato' sans-serif;
}

p {
	padding: 0.75rem 0;
}

/* Utility CLasses */
.py-1 {
	padding: 1.5rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}
.p-1 {
	padding: 1.5rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
.container {
	max-width: 1100px;
	margin: auto;
}
.bg-light {
	background: #f4f4f4;
	color: #333;
}
.bg-dark {
	background: #333;
	color: #fff;
}
.bg-primary {
	background: #93cb52;
	color: #fff;
}
.text-primary {
	color: #93cb52;
}
.text-secondary {
	color: #333;
}
.text-center {
	text-align: center;
}
.l-heading {
	font-size: 4rem;
	font-weight: 400;
	line-height: 1.5;
}

.m-heading {
	font-size: 2rem;
}

.lead {
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	margin: 2rem 1rem;
}
.list {
	list-style: none;
}

.btn {
	display: inline-block;
	background: #93cb52;
	color: #333;
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.2s;
}
.btn:hover {
	background: #7ab436;
	color: #111;
}

.btn-dark {
	background: #333;
	color: #fff;
}

/* Navbar */

#navbar {
	position: sticky;
	top: 0;
	z-index: 1;
	opacity: 0.95;
	background: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#navbar i {
	padding: 1rem;
}
#navbar .logo {
	color: #fff;
}
#navbar ul {
	list-style: none;
	display: flex;
}
#navbar ul li a {
	color: #fff;
	padding: 0.5rem 1rem;
	margin: 0 1rem;
	font-weight: 700;
	transition: color 0.3s;
	transition: background 0.3s;
}
#navbar ul li a:hover {
	background: #444;
	border-radius: 5px;
	color: #93cb52;
}

/* Showcase */

#showcase {
	background: url('/img/showcase.jpg') no-repeat center center/cover;
	height: 100vh;
	color: #fff;
}

#showcase .showcase-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

/* Section : What we are*/

#what .items {
	display: flex;
	justify-content: space-evenly;
}
#what .items .item {
	flex: 1;
	margin: 2rem;
}
#what .items .item i {
	background: #93cb52;
	border-radius: 50%;
	padding: 1rem;
	margin: 1rem;
}
/* Section : Who we are */

#who {
	display: flex;
}
#who div {
	flex: 1;
}
#who .who-img {
	/* display: block; */
	background: url('/img/people.jpg') no-repeat center center/cover;
	width: 100%;
}
#who .list li {
	padding: 0.75rem 0;
}

/* Section : Clients */

#clients .items {
	display: flex;
	justify-content: center;
}
#clients .item {
	display: block;
	padding: 1.5rem;
	width: 9rem;
}

/* Section : Contact */
#contact {
	display: flex;
}
#contact .contact-form,
#contact .map {
	flex: 1;
}

#contact .contact-form .form-group label {
	display: block;
	font-size: 1.2rem;
	font-weight: 600;
}
#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
	padding: 1rem;
	margin: 1rem 0;
	width: 100%;
	font-size: 1.2rem;
	border-radius: 5px;
}

#contact .contact-form .form-group textarea {
	resize: none;
}
#contact .contact-form p {
	font-size: 1.2rem;
	font-weight: 600;
}
#contact .contact-form .btn:hover {
	background: #111;
	color: #fff;
}
